@page "/receivers"

@using System.Diagnostics.CodeAnalysis;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@implements IDisposable

@inject IViewReceiversUseCase ViewReceiversUseCase
@inject IDeleteReceiverUseCase DeleteReceiverUseCase

<h2 class="card-title h5">
    <NavLink class="nav-link" href="receivers">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Получатели (@receivers?.Count)
    </NavLink>
</h2>


@if (receivers != null)
{
    <div class="div-for-table">
    <table id="example" class="display responsive nowrap" style="width:80%">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>

                <th> @ReceiverOptions.FirstName </th>
                <th> @ReceiverOptions.SecondName </th>
                <th> @ReceiverOptions.Surname </th>
                <th> @ReceiverOptions.ContactNumber </th>
                <th> @ReceiverOptions.Nationality </th>
                <th> @ReceiverOptions.PassportIssueDate </th>
                <th> @ReceiverOptions.PassportSeries </th>
                <th> @ReceiverOptions.PassportID </th>
                <th> @ReceiverOptions.PassportIssuedBy </th>
                <th> @ReceiverOptions.Country </th>
                <th> @ReceiverOptions.Region </th>
                <th> @ReceiverOptions.City </th>
                <th> @ReceiverOptions.Street </th>
                <th> @ReceiverOptions.House </th>
                <th> @ReceiverOptions.HouseBuildingNumber </th>
                <th> @ReceiverOptions.Flat </th>
                <th> @ReceiverOptions.Index </th>
                <th> @ReceiverOptions.Description </th>
            </tr>
        </thead>
            <tbody>
            @foreach (var item in receivers)
            {
                <tr @onclick="@( () => SelectReceiverId=item.ReceiverId )">
                    <td> @item.ReceiverId </td>

                    <td>
                        <button type="button" class="btn btn-link"
                            @onclick="@( () => OnClickView(item) )">
                            <i class="bi bi-eye"></i>
                        </button>

                        <button type="button" class="btn btn-link" 
                            @onclick="@( () => OnClickEdit(item) )">
                            <i class="bi bi-pencil-square"></i>
                        </button>

                        <button type="button" class="btn btn-link"
                            @onclick="@( () => OnClickDelete(item.ReceiverId) )">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>

                    <td> @item.FirstName </td>
                    <td> @item.SecondName </td>
                    <td> @item.Surname </td>
                    <td> @item.ContactNumber </td>
                    <td> @item.Nationality </td>
                    <td> @item.PassportIssueDate.ToShortDateString() </td>
                    <td> @item.PassportSeries </td>
                    <td> @item.PassportID </td>
                    <td> @item.PassportIssuedBy </td>
                    <td> @item.Country </td>
                    <td> @item.Region </td>
                    <td> @item.City </td>
                    <td> @item.Street </td>
                    <td> @item.House </td>
                    <td> @item.HouseBuildingNumber </td>
                    <td> @item.Flat </td>
                    <td> @item.Index </td>
                    <td> @item.Description </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
}
<button type="button" @onclick="OnClickAdd" class="btn btn-primary">Добавить</button>

<Modal @ref="ModalView" IsBackdrop="true" IsKeyboard="true">
    <ModalDialog Title="Информация о получателе" IsDraggable="true" ShowFooter="false">
        <BodyTemplate>
            @if (SelectReceiverId > 0)
            {
                <ViewtReceiverComponent ReceiverId="@SelectReceiverId.ToString()" />
            }
        </BodyTemplate>
    </ModalDialog>
</Modal>

<Modal @ref="ModalAdd" IsBackdrop="true" IsKeyboard="true">
    <ModalDialog Title="Добавить получателя" IsDraggable="true" ShowFooter="false">
        <BodyTemplate>
            <AddReceiverComponent />
        </BodyTemplate>
    </ModalDialog>
</Modal>

<ConsoleLogger @ref="Logger" class="mt-3" />

@code {

    #region Parameters

    #endregion

    #region Private fiels

    [NotNull]
    private ConsoleLogger? Logger { get; set; }

    private List<Receiver>? receivers;

    private Receiver? SelectReceiver;
    private int SelectReceiverId;

    #endregion

    #region Private fields / Modal

    [NotNull]
    private Modal? ModalView { get; set; }
    [NotNull]
    private Modal? ModalAdd { get; set; }

    #endregion

    #region Private methods / Override methods

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadAll();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("InitialiseTable");
    }

    #endregion

    #region private methods

    private void LoadAll()
    {
        receivers = ViewReceiversUseCase.Execute()?.ToList();
    }

    #endregion
    // ---
    #region Private methods / OnClick CRUD

    private void OnClickView(Receiver single)
    {
        Logger.Log($"OnClickView singleId: {single.ReceiverId}");

        SelectReceiver = single;
        SelectReceiverId = single.ReceiverId;
        ModalView.Toggle();
    }

    private void OnClickAdd()
    {
        NavigationManager.NavigateTo($"/add{ReceiverOptions.NameSingle}");
    }

    private void OnClickEdit(Receiver single)
    {
        NavigationManager.NavigateTo($"/edit{ReceiverOptions.NameSingle}/{single.ReceiverId}");
    }

    private void OnClickDelete(int id)
    {
        DeleteReceiverUseCase.Delete(id);
        LoadAll();
    }

    #endregion
    // ---
    #region Ppublic methods / Interface Implementation IDisposable

    public void Dispose()
    {
        JsRuntime.InvokeVoidAsync("DataTablesRemove");
    }

    #endregion
}
